.loadingContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.spinner {
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid rgba(59, 130, 246, 0.1);
    border-top-color: #3b82f6;
    box-shadow: 0 0 1.5rem rgba(59, 130, 246, 0.2);

    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 2rem;
}

.message {
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 800;
    opacity: 0.8;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
