.glassToggle {
    position: fixed;
    bottom: 4.3rem;
    left: 5rem;
    width: 10rem;
    height: 3.6rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1.5rem);
    border-radius: 10rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    z-index: 1100;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    transition: all 0.3s ease;
}

.glassThumb {
    width: 3.7rem;
    height: 2.8rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10rem;
    position: relative;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.on {
    transform: translateX(4.1rem);
    background: #3b82f6;
    box-shadow: 0 0 1.5rem rgba(59, 130, 246, 0.6);
    width: 5rem;
}

.toggleLabels {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 900;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.399);
}

@media (max-width: 1100px) {
    .glassToggle {
        bottom: 12rem;
        left: 4rem;
        transform: scale(0.9);
    }
}

@media (max-width: 400px) {
    .glassToggle {
        bottom: 12rem;
        left: 2rem;
    }
}
